.pagination{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.pagination-container{
  display: flex;
  justify-content: space-between;
  width: 400px;

}

.page-button{
  border: none;
  outline: none;
  background-color: #012e58;
  color: white;
  padding: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  
}

.page-button:hover{
  background-color: #5ab808;

}



/* ..............Mobile Responsiveness........ */
@media all and (max-width: 420px) {

  .pagination-container{
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  .page-button{
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
  
}